body {
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  margin: 0;
  padding: 0;
}

.name-container {
  text-align: center;
  margin: 25vh;
  margin-bottom: 50vh;
}

.name-container h1 {
  font-size: 100px;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  margin-bottom: 25px;
}

.name-container p {
  font-size: 25px;
  color: #cccccc;
  font-family: 'Oswald', sans-serif;
}

.about-me-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px;
  line-height: 1.6;
  margin-bottom: 25vh;
}

.about-me-container h2 {
  font-size: 2rem;
  margin-bottom: 16px;
  text-align: left;
}

.about-me-container p {
  font-size: 1rem;
  margin-bottom: 32px;
  text-align: left;
}

.about-me-content {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}

.about-me-education {
  flex: 1;
  text-align: left;
}

.about-me-education h3 {
  font-size: 1.5rem;
  margin-bottom: 16px;
}

.about-me-education ul {
  padding-left: 20px;
}

.about-me-education li {
  margin: 20px 20px 20px 0;
  font-size: 1rem;
}

.education-details {
  display: block;
  font-size: 0.9rem;
  color: #888;
  margin-top: 0;
}

.about-me-tech-stack {
  flex: 2;
  text-align: center;
}

.about-me-tech-stack h3 {
  font-size: 1.5rem;
  margin-bottom: 16px;
  text-align: left;
}

.about-me-tech-stack p {
  text-align: center;
  color: #ffffff !important;
}

.tech-stack-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 16px;
}

.tech-item {
  text-align: center;
}

.tech-item img {
  width: 48px;
  height: 48px;
}

.tech-item p {
  font-size: 0.9rem;
  color: #555; /* Texto tenue */
  margin-top: 8px;
}

.navbar {
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  position: fixed;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.nav-link {
  color: white !important;
  cursor: pointer;
}

.navbar-brand {
  color: white !important;
}

.scroll-arrow {
  position: absolute;
  left: 47%;
  bottom: 20px;
  font-size: 2rem;
  cursor: pointer;
  color: white;
  animation: bounce 2.0s;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.scroll-arrow.hidden {
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
}

.arrow-image {
  width: 70px;
  height: auto;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}

.project-card {
  /*background-color: #1e1e1e;*/
  color: #fff;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: #fafafa10;
  backdrop-filter: blur(0.4rem);
  --webkit-backdrop-filter: blur(0.4rem);
}

.project-content {
  flex-grow: 1;
}

.project-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.project-card img {
  width: 100%;
  border-radius: 8px;
}

.project-card h3 {
  margin: 16px 0 8px;
}

.project-card p {
  font-size: 0.9rem;
  color: #ddd;
  margin-bottom: 30px;
}

.project-card .tech-icons {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

.project-card .tech-icons img {
  width: 24px;
  height: 24px;
}

.tech-icons {
  gap: 10px;
}

.project-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-top: auto;
}

.project-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  padding: 5px 10px;
  transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.project-links a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: white;
  z-index: 0;
  transition: width 0.18s ease-in-out;
}

.project-links a:hover {
  color: black;
  transform: scale(1.05);
}

.project-links a:hover::before {
  width: 100%;
}

.project-links a span {
  position: relative;
  z-index: 1;
}


.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 24px;
  padding: 24px;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 25vh;
  align-items: stretch;
}

#projects-title{
  font-size: 2rem;
}

.contact-container {
  text-align: left;
  padding-left: 32px;
  font-family: 'Arial', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 15vh;

}

.contact-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 45px;
  margin-bottom: 2rem;
}

.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.availability-button {
  background-color: #1E1E1E;
  color: #ffffff;
  border-radius: 15px;
  font-size: 15px;
  border: none;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 180px;
  box-shadow: 16px 14px 20px #0000008c;
  z-index: 1;
  transition: transform 0.3s ease;
}

.availability-button a {
  text-decoration: none;
  color: inherit;
}

.availability-button:hover {
  transform: scale(1.05);
}

.availability-button::before {
  content: "";
  position: absolute;
  height: 300px;
  width: 300px;
  background-image: conic-gradient(#41AB92 20deg, transparent 120deg);
  animation: spin 2s linear infinite;
  z-index: -1;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(-360deg);
  }
}

.availability-button::after {
  content: "";
  position: absolute;
  height: 35px;
  width: 175px;
  background-color: #1E1E1E;
  border-radius: 15px;
  box-shadow: inset 16px 14px 20px #0000008c;
  z-index: -1;
}

.contact-container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact-container p {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.contact-buttons {
  display: flex;
  justify-content: left;
  gap: 10px;
}

.contact-buttons button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.contact-button {
  background-color: #1E1E1E;
  color: #fff;
}

.contact-button:hover {
  background-color:rgb(211, 222, 234);
  color: #000;
}

.linkedin-button {
  background-color: #1E1E1E;
  color: #fff;
}

.linkedin-button:hover {
  background-color: rgb(211, 222, 234);
  color: #000;
}

.linkedin-button a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 8px;
}

.contact-button a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 8px;
}

.contact-button, .linkedin-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #1E1E1E;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

.contact-button:hover, .linkedin-button:hover {
  transform: scale(1.05);
}

.button-icon {
  width: 20px;
  height: 20px;
}

.d3-text {
  position: relative;
  color:rgb(117, 117, 117); /*before: white*/
  font-weight: 700;
  font-size: 125px;
  line-height: 125px;
  letter-spacing: 2px;
  text-align: center;
  pointer-events: none;
}

.d3-text::before {
  content: attr(data-text);
  position: absolute;
  top: 40px;
  left: -35px;
  color: rgb(0, 0, 0, 1);
  text-shadow: none;
  filter: blur(8px);
  z-index: -1;
}

.d3-text-container {
  pointer-events: none;
}

#d3-text-2 {
  margin-top: 15px;
  font-size: 38px;
  pointer-events: none;
  color:rgb(117, 117, 117);
}

.home-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #2b2b2b;
  /*background: blue;*/
}

.hex-container {
  background: #2b2b2b;
  /*background: red;*/
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotate(-28deg) skew(25deg);
  transform-origin: center;
}

#hex-grid {
  height: 100vh;
  background: #000;
}

#hex-grid .grid {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -50vh;
  margin-left: -50vh;
  background: url(/grid.svg) repeat;
  width: 200%;
  height: 200%;
  z-index: -2;
  background-size: 1000px;
}

#hex-grid .light {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 550px;
  filter: blur(15px);
  background: linear-gradient(
    90deg, #3AE176 0%,rgb(125, 255, 111) 100%
  );
  z-index: -2;
}

.hex-grid {
  background: transparent;
}

.header-main {
  position: relative;
  z-index: 10;
  margin-bottom: 15vh;
}

.header-main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(43, 43, 43, 0) 60%, rgba(0, 0, 0, 1));
  z-index: 8;
  pointer-events: none;
}

.content {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(circle 600px at 100% 30%,rgba(255, 255, 255, 0.1) 5%, transparent 100%), /*X Y*/
              radial-gradient(circle 600px at 5% 25%,rgba(255, 255, 255, 0.1) 5%, transparent 100%),
              radial-gradient(circle 600px at 50% 50%,rgba(255, 255, 255, 0.1) 5%, transparent 100%),
              radial-gradient(circle 300px at 75% 88%,rgba(255, 255, 255, 0.15) 5%, transparent 100%),
              #000;
  overflow: hidden;
  z-index: 0;
}

.this-page-info {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  justify-content: center;
}

.this-page-card {
  width: 600px;
  height: auto;
  border: 2px solid #fafafa10;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 600px;
  margin-left: 25px;
  margin-right: 25px;
}

.glass-effect {
  background: #fafafa10;
  backdrop-filter: blur(0.4rem);
  --webkit-backdrop-filter: blur(0.4rem);
}

.this-page-card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.this-page-card-content h1 {
  font-size: 3rem;
  margin-bottom: 35px;
}

.this-page-card-content p {
  font-size: 1rem;
  margin-bottom: 35px;
  line-height: 2;
} 

.this-page-card-content img {
  border-radius: 10px;
  width: 75px;
  height: 75px;
  align-self: center;
}